#mouse-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;

	/* style as you wish... */
	max-width: 300px;
	font-family: sans-serif;
	font-size: small;
	padding: 8px 12px;
	color: #222;
	background: #f1f1f1;
	border: 1px solid #aaa;
	border-radius: 5px;
}

.mouse-tooltip-hidden {
	display: none !important;
}
